<div class="container">
    <h2>Template-Driven Form</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" required [(ngModel)]="user.name" name="name">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required [(ngModel)]="user.email" name="email">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  